version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: web-nginx
    ports:
      - "8080:80"
    volumes:
      - ./data:/usr/share/nginx/html:ro
    networks:
      - filehub-network
    restart: always

  ftp:
    image: fauria/vsftpd
    container_name: ftp-server
    restart: always
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    environment:
      - FTP_USER=ali
      - FTP_PASS=1234
      - PASV_ENABLE=YES
      - PASV_ADDRESS=localhost
      - PASV_MIN_PORT=21000
      - PASV_MAX_PORT=21010
      - FILE_OPEN_MODE=0666
      - LOCAL_UMASK=022
    volumes:
      - ./data:/home/vsftpd/ali
    networks:
      - filehub-network

  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser-app
    ports:
      - "8090:80"
    volumes:
      - ./data:/srv
      - filebrowser-db:/database
    environment:
      - FB_NOAUTH=false
    networks:
      - filehub-network
    restart: always

networks:
  filehub-network:
    driver: bridge

volumes:
  filebrowser-db: